@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --outer-border: 3px;
    --grid-size: 40px;
  }
  
  html {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
  }
  body {
      background-color: #fefae0;
  }
  h1 {
    user-select: none;
    text-align: center;
    font-size: 6vh;
    margin-bottom: 10px;
  }
  #wrapper {
      height: 70vh;
      width: 70vh;
  }
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--grid-size));
    grid-template-columns: repeat(var(--grid-cols), var(--grid-size));
    outline: .2rem solid black;
    position: absolute;
    border-radius: 2vh;
    background: whitesmoke; /* Grey background */
    box-shadow: 8px 8px rgb(69, 69, 69);
    cursor: none;
    
  }
  
  .grid-item {
    outline: 1px solid rgba(0, 0, 0, 0.04);
    text-align: center;
    margin:0.5px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: whitesmoke;
    
  }

  .tl_corner{
      border-radius:2vh 0 0 0;
      
  }
  .tr_corner{
      border-radius: 0 2vh 0 0;
  }
  .bl_corner{
      border-radius: 0 0 0 2vh 0;
  }
  .br_corner{
      border-radius: 0 0 2vh 0;
  }
  /* .t_border{
    z-index: 10;
      border-top: var(--outer-border) solid black;
  }
  .l_border{
      border-left: var(--outer-border) solid black;
  }
  .b_border{
      border-bottom: var(--outer-border) solid black;
  }
  .r_border{
      border-right: var(--outer-border) solid black;
  } */

  .grid-item:hover {
    filter: brightness(60%) !important;
  }

  .slidecontainer {
    margin-top: 3vh;
    width: 70vh; /* Width of the outside container */
  }

  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4vh; /* Specified height */
    background: whitesmoke; /* Grey background */
    border: .2rem solid black;
    box-shadow: inset 2px 2px rgb(69, 69, 69);
    box-sizing: border-box;
    border-radius: 20px;
    transition: all .03s ease;
  }

  .slider:hover {
    transition: all 0.3s ease;
    box-shadow: inset 4px 4px rgb(69, 69, 69);
  }

  .slidecontainer:hover .slider::-webkit-slider-thumb{
    box-shadow: 1px 1px rgb(69, 69, 69);

  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 7vh; /* Set a specific slider handle width */
    height: 7vh; /* Slider handle height */
    border-radius: 20px;
    background: rgb(255, 208, 0);
    border: .2rem solid black;
    box-shadow: 3px 3px rgb(69, 69, 69);
    cursor: pointer; /* Cursor on hover */
    transition: all 0.3s ease;
  }

  
  .slider::-moz-range-thumb {
    width: 7vh; /* Set a specific slider handle width */
    height: 7vh; /* Slider handle height */
    border-radius: 20px;
    background: rgb(255, 208, 0);
    border: .2rem solid black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.718);
    cursor: pointer; /* Cursor on hover */
  }
  .full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  #color-selection, #tool-selection{
    margin-top: 20vh;
    margin-left: 5vh;
    margin-right: 5vh;
  }
  .color, .tool {
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: 3px solid black;
    opacity: 1;
    box-shadow: 3px 3px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    transition: all .03s ease;
    cursor: pointer;
  }

  .color:hover, .tool:hover {
    box-shadow: 2px 2px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    transition: all ease 0.3s;
  }

  .tool {
    background: rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img{
    margin: 10px;
    width: 6vh;
    
    
    height: 6vh;
    pointer-events: none
  }
  .rainbow-box {
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    background: black;
    border:3px black solid;
    box-shadow: 3px 3px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    transition: all .03s ease;
    background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  }

  .rainbow-box:hover {
    box-shadow: 2px 2px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    transition: all ease 0.3s;
  }

  .rainbow-box input{
    opacity: 0;
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin-left: -7px;
    margin-top: -7px;
    cursor: pointer;
  }

  #color1{
    background-color: #EE8CD8;
  }
  #color2{
    background-color: #00F99F;
  }
  #color3 {
    background-color: #00BBF9;
  }

 #color4 {
  background-color: #EE8CD8;
   margin: 0px;
   width: calc(10vh - 21px);
   height: calc(10vh - 21px);
   border: 3px solid black;
   box-shadow: none;
   transition: all ease 0.3s;
   cursor: pointer;
 }

 .footer {
  position: block;
  margin: 3vh;
  text-align: center;
  font-size: 3vh;
}

.footer-text {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.footer-text:hover{
  color: rgb(39, 39, 39);
  font-weight: bold;
}